@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Pathway+Gothic+One');

.App {
}

.Navbar {
  position: fixed;
  bottom: 0;
}

.Navbar ul {
}

.Navbar ul li {
  display: inline-block;
  text-decoration: none;
  padding: 0 1em;
}

.Navbar img {
  width: 25px;
}

.Collection {
  text-align: center;
  position: absolute;
  bottom: 150%;
  margin-left: 70px;
  font-family: 'Open Sans'
}

.Collection p {
  margin-left: -50px;
  padding: 0 20px
}

.Collection input {
  border: 1px solid #ff512e;
  background-color: #ff512e;
  margin-left: 10px;
  color: white;
  border-radius: 40px;
  margin-top: 10px;
  padding: 15px 35px;
  margin-left: -45px;
  font-weight: bolder;
  font-size: 20px

}

.Collection img {
  width: 85px;
  box-shadow: 1px 2px 2px 1px lightgrey;
  margin-right: 5px;
}

.Collection table {
  margin-left: -50px;

}

.Collection .img2 {
  padding-top: 19px;
  padding-bottom: 19px
}

.Collection h1 {
  color: #8e7052;
  margin-left: -45px

}

.Collection h3 {
  color: #8e7052;
  margin-left: -45px;
  margin-top: 25px
}

.Collection hr {
  margin-left: -50px;
  width: 200px;
  margin-left: 42px
}

.Shop {
  position: absolute;
  bottom: 100%
}

.Profil {
  position: absolute;
  bottom: 100%
}

.Game {
  position: absolute;
  bottom: 100%;
  font-family: 'Open Sans'
}

.Game h1 {
  color:#8e7052;
  margin-left: 95px;
}


.Game p {
  text-align: center;
  margin-left: 50px
}

.Game input {
  border: none;
  border-bottom: 2px solid #ff512e;
  color: #ff512e;
  padding: 10px 70px 10px 0px;
  margin-left: 80px
}

.Game input::placeholder {
  color: #ff512e
}

.Game .Indice {
  border: 1px solid #ff512e;
  background-color: transparent;
  color: #ff512e;
  border-radius: 20px;
  margin-left: 70px;
  padding: 15px 35px;
  margin-top: 25px;
  margin-bottom: 25px;

}

.Game img {
  width: 90px;
  margin-left: 5px;
  border: 1px solid #8e7052
}

.Game table {
  margin-left: 50px
}

.Game .Valider {
  border: 1px solid #ff512e;
  background-color: #ff512e;
  margin-left: 10px;
  color: white;
  border-radius: 20px;
  margin-top: 10px;
  padding: 15px 35px;
}

.Home {
  position: absolute;
  bottom: 100%
}

.Panier {
  position: absolute;
  bottom: 100%
}

.Détails {
  position: absolute;
  bottom: 100%
}
